<div class="list-group stories">
  <% stories.each do |story| %>
    <%= link_to story.url,
      "data-story": story.id,
      target: "_blank",
      class: "list-group-item list-group-item-action d-flex #{story.read? ? "" : "unread"}" do %>
      <div>
        <%= feed_favicon(story.feed) %>
        <%= story.title.blank? ? story.url : story.title %>
      </div>

      <div class="d-flex ml-auto">
        <div>
          <% story.tags.each do |tag| %>
            <span class="badge badge-secondary"><%= tag %></span>
          <% end %>
        </div>

        <div class="ml-4 published_at" title="<%= l story.published_at, format: :short %>">
          <%= time_ago_in_words(story.published_at) %> ago
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="d-none d-md-flex justify-content-center">
  <%= paginate @stories %>
</div>
