<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= @subscription.persisted? ? "Edit subscription" : "Create a new subscription" %></h1>
      </div>

      <%- if @subscription.feed.error? -%>
        <div class="alert alert-danger" role="alert"><%= @subscription.feed.error %></div>
      <%- end -%>

      <%= form_for @subscription do |f| %>
        <div class="form-row">
          <div class="form-group col-md-11">
            <% if @subscription.persisted? %>
              <div class="form-control"><%= @subscription.url %></div>
            <% else %>
              <%= f.text_field :url, class: "form-control", placeholder: "URL" %>
            <% end %>
          </div>
          <div class="form-group col-md-11">
            <%= f.text_field :tags, class: "form-control", placeholder: "Comma-separated tags" %>
          </div>
          <div class="form-group col-md-11">
            <%= f.submit @subscription.persisted? ? "Update" : "Create", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <% if @subscription.persisted? %>
        <div class="alert alert-warning">
          <h4 class="alert-heading">Destroy subscription</h4>
          <p>After destroying a subscription, you will stop receiving new items from that feed. Any existing item will remain searchable.</p>
          <hr />

          <p class="mb-0">
            <%= link_to 'Destroy', @subscription, method: :delete, class: 'btn btn-warning' %>
          </p>
        </div>
      <% end %>
    </main>
  </div>
</div>
